.company-details-container
{
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.company-details
{
    display: flex;
    background-color: blueviolet;
    width: 500px;    
    flex-direction: column;
}

.company-details-child
{
    display: flex;
    height: 125px;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;   
    
}

.company-Name-Label
{
    width: 250px;
    height: 125px;
}

.company-Name-Text
{
    width: 250px;
    height: 125px;
}