.company-details-container
{
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.company-details
{
    display: flex;
    background-color: blueviolet;
    width: 500px;
    /* height: 500px; */

}

.company-details-child
{
    height: 25px;
}